@model SiteUserViewModel
<h1>Profile page</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab"  href="#credentials">Credentials</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#personal">Personal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#system">System</a>
    </li>
</ul>
<form asp-area="" asp-controller="Account" asp-action="Profile" method="post" enctype="multipart/form-data">
    <fieldset>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="credentials">
                        <div class="form-group row">
                            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Id" class="form-control-plaintext" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="UserName" class="form-control-plaintext" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Email" class="form-control-plaintext" />
                            </div>
                        </div>

                        <div class="row">
                            <label asp-for="RegisterDate" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <div class="form-control=plaintext">@Model.RegisterDate</div>
                            </div>
                        </div>

                        <div class="row">
                            <label asp-for="ConfirmDate" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <div class="form-control-plaintext">@Model.ConfirmDate</div>
                            </div>
                        </div>

                        <div class="row">
                            <label asp-for="LastLoginDate" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <div class="form-control-plaintext">@Model.LastLoginDate</div>
                            </div>
                        </div>
        </div>
            <div class="tab-pane fade" id="personal">
                        <div class="form-group row">
                            <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                            <input asp-for="FirstName" class="col-sm-6 form-control-plaintext" readonly />
                            <div class="col-sm-4">
                                <i id="editFirstName" class="fas fa-pen" style="cursor:pointer;" onclick="ChangeInput(this);" title="Edit"></i>
                                <i id="confirmFirstName" class="fas fa-check text-success fade" style="cursor:pointer;" onclick="ConfirmInput('@Model.FirstName', this);" title="Confirm changes"></i>
                                <i id="cancelFirstName" class="fas fa-ban text-danger fade" style="cursor:pointer;" onclick="CancelInput('@Model.FirstName', this);" title="Undo changes"></i>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="MiddleName" class="col-sm-2 col-form-label"></label>
                            <input asp-for="MiddleName" class="col-sm-6 form-control-plaintext" readonly />
                            <div class="col-sm-4">
                                <i id="editMiddleName" class="fas fa-pen" style="cursor:pointer;" onclick="ChangeInput(this);"></i>
                                <i id="confirmMiddleName" class="fas fa-check text-success fade" style="cursor:pointer;" onclick="ConfirmInput('@Model.MiddleName', this);"></i>
                                <i id="cancelMiddleName" class="fas fa-ban text-danger fade" style="cursor:pointer;" onclick="CancelInput('@Model.MiddleName', this);"></i>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                            <input asp-for="LastName" class="col-sm-6 form-control-plaintext" readonly />
                            <div class="col-sm-4">
                                <i id="editLastName" class="fas fa-pen" style="cursor:pointer;" onclick="ChangeInput(this);"></i>
                                <i id="confirmLastName" class="fas fa-check text-success fade" style="cursor:pointer;" onclick="ConfirmInput('@Model.LastName', this);"></i>
                                <i id="cancelLastName" class="fas fa-ban text-danger fade" style="cursor:pointer;" onclick="CancelInput('@Model.LastName', this);"></i>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Gender" class="col-sm-2 col-form-label"></label>
                            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()" class="col-sm-6 form-control-plaintext" disabled></select>
                            <div class="col-sm-4">
                                <i id="editGender" class="fas fa-pen" style="cursor:pointer;" onclick="ChangeSelect(this);"></i>
                                <i id="confirmGender" class="fas fa-check text-success fade" style="cursor:pointer;" onclick="ConfirmSelect('@Model.Gender', this);"></i>
                                <i id="cancelGender" class="fas fa-ban text-danger fade" style="cursor:pointer;" onclick="CancelSelect('@Model.Gender', this);"></i>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="BirthDate" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="BirthDate" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Locale" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Locale" class="form-control" />
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div id="system" class="tab-pane">
                <a class="btn btn-outline-danger" asp-area="" asp-controller="Account" asp-action="DeleteAccount" asp-route-userid="@Model.Id">Permanently delete account @User.Identity.Name</a>
            </div>
        </div>
    </fieldset>
</form>


<script src="~/js/profile-validate.js"></script>