@model SiteUserViewModel
    <table class="table-striped">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>User ID</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>User name</td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>First name</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>Middle name</td>
                <td>@Model.MiddleName</td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>Birth date</td>
                <td>@Model.BirthDate</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>@Model.Locale</td>
            </tr>
            <tr>
                <td>Register date</td>
                <td>@Model.RegisterDate</td>
            </tr>
            <tr>
                <td>Email confirm date</td>
                <td>@Model.ConfirmDate</td>
            </tr>
            <tr>
                <td>Last login date</td>
                <td>@Model.LastLoginDate</td>
            </tr>
        </tbody>
    </table>